<div class="navbar sticky-top">
  <div class="container-navbar">
    <%= image_tag("logo-amaxan.png", alt: "logo-amaxan", id: "logo-amaxan") %>
    <nav>
      <ul>
        <li><a href="#">A Propos</a></li>
        <li class="dropdown">
          <a href="#">Expertises</a>
          <ul class="dropdown-menu">
           <li><%= link_to "Famille", famille_path %></li>
            <li><%= link_to "Entrepreneurs & Professions Libérales", entrepreneurs_path %></li>
            <li><%= link_to "Assistance Administrative", assistance_administrative_path %></li>
            <li><%= link_to "Placement", placement_path %></li>
            <li><%= link_to "Emprunt", emprunt_path %></li>
            <li><%= link_to "Fiscalité", fiscalite_path %></li>
          </ul>
        </li>
        <li><a href="#">Méthodologie</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
  </div>
</div>


