<!DOCTYPE html>
<div class="banner banner-gradient banner-expertise-home white">
  <div class="container-expertise-home">
    <div class="expertise-header">
      <h1>7 Domaines d'Expertise.</h1>
      <p class="title">Développée par 25 années d'expérience à faire prospérer votre patrimoine</p>
    </div>
    <div class="cards">
      <div class="cards-left">
        <%= link_to famille_path, class: "card famille" do %>
          <h3>Famille</h3>
        <% end %>
        <%= link_to entrepreneurs_path, class: "card entrepreneurs" do %>
          <h3>Entrepreneurs & Professions Libérales</h3>
        <% end %>
        <%= link_to assistance_administrative_path, class: "card assistance" do %>
          <h3>Assistance Administrative</h3>
        <% end %>
        <%= link_to retraite_path, class: "card retraite" do %>
          <h3>Retraite</h3>
        <% end %>
      </div>
      <div class="cards-right">
        <%= link_to placement_path, class: "card placement" do %>
          <h3>Placement</h3>
        <% end %>
        <%= link_to emprunt_path, class: "card emprunt" do %>
          <h3>Emprunt</h3>
        <% end %>
        <%= link_to impots_path, class: "card impots" do %>
          <h3>Impôts</h3>
        <% end %>
      </div>
    </div>


  </div>
</div>

 <script>
  const cardOrder = [
    ".famille",
    ".placement",
    ".entrepreneurs",
    ".emprunt",
    ".assistance",
    ".impots",
    ".retraite"
  ];

  const cards = cardOrder.map(selector => document.querySelector(selector));
  const windowHeight = window.innerHeight;

  function handleScroll() {
    const firstCard = cards[0];
    const rect = firstCard.getBoundingClientRect();
    const cardHeight = rect.height;

    if (rect.top + cardHeight / 2 <= windowHeight / 2) {
      cards.forEach((card, index) => {
        setTimeout(() => {
          card.classList.add('show-card');
        }, index * 250); // Ajoute un délai pour afficher chaque carte
      });

      // Désactive l'écouteur d'événement après l'affichage des cartes
      window.removeEventListener('scroll', handleScroll);
    }
  }

  window.addEventListener('scroll', handleScroll);
</script>


<script>
  document.addEventListener("DOMContentLoaded", function () {
    const allCards = document.querySelectorAll(".card"); // Sélectionne toutes les cartes

    allCards.forEach(function (card) {
      card.addEventListener("mouseover", function () {
        allCards.forEach(function (otherCard) {
          if (otherCard !== card) {
            otherCard.style.opacity = "0.5"; // Réduit l'opacité des autres cartes à 0.5
          }
        });
      });

      card.addEventListener("mouseout", function () {
        allCards.forEach(function (otherCard) {
          otherCard.style.opacity = "1"; // Rétablit l'opacité d'origine (1) de toutes les cartes
        });
      });
    });
  });
</script>
