<div class="banner-home white">
  <div class="container">
    <h1>Conseil en Gestion de Patrimoine</h1>
     <h1>et Investissements Financiers</h1>
    <a class="button-48" href="#">EN SAVOIR PLUS</a>
  </div>
</div>

<div class="banner banner-beige banner-conseil blue">
  <div class="container">
    <h1>Un conseil en double dimension.</h1>
    <div class="container-conseils">
      <div class="container-conseils-top">
        <div class="conseil">
          <%= image_tag("gest-pat-icon.png", alt: "conseil-icon", class: "conseil-icon") %>
            <div class="conseil-text">
              <div class="conseil-text-title">
                <h2><span>G</span>ESTION DE PATRIMOINE</h2>
              </div>
              <p>
              Le <strong>Conseil en Gestion de Patrimoine (CGP) </strong> est un stratégiste qui vous conseille sur
              l’organisation de votre patrimoine et accompagne les Particuliers et Entrepreneurs dans la construction
              d’une stratégie globale ou spécifique: placements financiers et  immobiliers, fiscalité, transmission, succession <br>
              <br />
              Il vous préconise des solutions d’investissement. Pour réaliser ces opérations nous disposons de toutes les
              compétences nécessaires : la Compétence Juridique à titre accessoire (CJA), un statut de Conseil en Investissement
              Financier (CIF),  d’assureur de personnes et  d’une carte d’agent Immobilier.
              </p>
              </div>
          </div>
        <div class="conseil">
              <%= image_tag("inv-fin-icon.png", alt: "conseil-icon", class: "conseil-icon") %>
              <div class="conseil-text">
                <div class="conseil-text-title">
                  <h2><span>I</span>NVESTISSEMENTS <span>F</span>INANCIERS</h2>
                </div>
                <p>Le <strong>Conseil en Investissement Financiers (CIF) </strong>est un
                statut réglementé et une expertise spécifique qui
                consiste à sélectionner les supports d’investissements
                de vos placements auprès de fournisseurs
                (gestionnaires d’actifs) pour mettre en adéquation les
                placements à votre profil de risque et respecter vos
                orientations (ex : fonds ISR sur la finance durable). <br>
                <br />
                Le CIF ne gère pas directement votre argent. Ce sont  les gestionnaires qui investissent
                votre argent dans leur fonds. Notre rôle consiste à les rencontrer les questionner,
                comparer et auditer leurs fonds, leur options de gestion, les suivre et les surveiller très régulièrement
                pour vous justifier leurs choix et éventuellement les arbitrer (modifier).
                Pour réaliser ces tâches nous disposons d’outils de sélection performants.
                </p>
              </div>
          </div>
        </div>
      <div class="conseils-footer">
          <div class="conseils-footer-card">
            <div class="conseils-footer-card-icon">
              <%= image_tag("puzzles.png", alt: "puzzles", id: "puzzles") %>
            </div>
             <div class="conseils-footer-card-text">
            <h3>COMPLÉMENTARITÉ</h2>
            <p>Ces deux activités recouvrent l’ensemble des besoins d’un client, particulier ou professionnel.</p>
            </div>
          </div>
          <div class="conseils-footer-card">
            <div class="conseils-footer-card-icon">
              <%= image_tag("arrows.png", alt: "arrows", id: "arrows") %>
            </div>
            <div class="conseils-footer-card-text">
              <h3>RÉMUNÉRATION</h2>
              <p>La première activité est rémunérée par des honoraires de conseil,
              la seconde par des rétrocessions de commissions et de gestion.
              </p>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="banner banner-gradient banner-expertise white">
  <div class="container-expertise">
    <div class="expertise-header">
    <h1>6 Domaines d'Expertise.</h1>
    <p>Développés par 25 années d'expérience à faire prospérer votre patrimoine</p>
    </div>
    <div class="cards">
      <div class="cards-left">
        <div class="card">
          <h3>Famille</h3>
        </div>
        <div class="card">
          <h3>Entrepreneurs <br>
          & Professions Libérales</h3>
        </div>
        <div class="card">
          <h3>Assistance Administrative</h3>
        </div>
      </div>
      <div class="cards-right">
        <div class="card">
          <h3>Placement</h3>
        </div>
        <div class="card">
          <h3>Emprunt</h3>
        </div>
        <div class="card">
          <h3>Fiscalité</h3>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="banner banner-beige banner-vision blue">
  <div class="container-vision">
      <h1>Notre Vision.</h1>
      <div class="container-vision-content">
        <div class="vision-text">
        <p>
        Conseil en gestion de patrimoine et Conseil en Investissements Financiers, titulaire d’un master en Gestion de patrimoine (AUREP)
        et de l’ITB (Diplôme supérieur de Banque), je suis professionnel de vos intérêts depuis 1994. <br>
        </br>
        <strong>NOTRE MÉTIER</strong> <br>
        </br>
        <strong>AMAXAN</strong> bâtit pour chaque client une stratégie sur mesure pour résister aux aléas économique et fiscaux.
        Le cabinet se positionne comme un maitre d’œuvre à forte valeur ajoutée qui s’adresse à une clientèle
        exigeante qui ne trouve plus de solutions ni de conseils auprès de leur interlocuteurs habituels : banques, gestion privée,
        assureurs ou courtiers. <br>
        </br>
        Fédérateur de métiers complémentaires, <strong>AMAXAN</strong> s’adresse à tous quelle que soit la surface patrimoniale
        pour répondre soit à une problématique ponctuelle touchant un élément de son patrimoine, de sa fiscalité
        ou plus largement pour mettre en place une stratégie globale d’enrichissement.
        Véritable service administratif de vos intérêts, j’optimise votre temps et la valeur de votre patrimoine.<br>
        </br>
        - André Audibert
        </br>
        <em>Fondateur d’Amaxan</em>
        </p>
      </div>
      <%= image_tag("andre-audibert.png", alt: "andre-audibert", id: "andre-audibert") %>
    </div>
  </div>
</div>

<div class="banner banner-gradient banner-approche white">
  <div class="container">
    <h1>Une Approche en 2 étapes.</h1>
    <h2>ANALYSER VOTRE SITUATION</h2>
    <p>Nous analyserons d’abord votre situation au travers d’outils pragmatiques :</p>

    <div class="cards-bilan">
      <div class="card-bilan">
        <h2>BILAN PATRIMONIAL</h2>
        <p>Pour étudier la structure de votre patrimoine, les flux de revenus et charges 
        </p>
      </div>
      <div class="card-bilan">
        <h2>BILAN FISCAL</h2>
        <p>Pour auditer et valider vos déclarations et l’utilisation de vos outils de défiscalisation :
        dispositifs législatifs, crédits et réductions d’impôt, prélèvements forfaitaires libératoires. 
        </p>
      </div>
       <div class="card-bilan">
        <h2>BILAN SOCIAL</h2>
        <p>Pour évaluer et diagnostiquer votre niveau de protection et celui de votre famille 
        </p>
      </div>
      <div class="card-bilan">
        <h2>BILAN RETRAITE</h2>
        <p>Pour vous dire pourquoi et comment votre relevé de carrière peut vous éviter de futures erreurs et oublis.
        </p>
      </div>
    </div>
    <div class="elaborer-strategies">
      <h2>ELABORER DES STRATÉGIES ADAPTÉES ET ADAPTABLES</h2>
      <p>Viens ensuite l’étape difficile qui permet de rapprocher vos besoins et
      les moyens dont vous disposez pour y parvenir. C’est l’écart entre désirs et réalités.
      </br>
      Nous vous remettrons alors vos bilans, nos préconisations et simulations ainsi que la méthode
      pour accomplir sereinement  vos choix et  projets d’investissement.
        </br>
      Nous programmerons alors, si vous le souhaitez, un suivi annuel de mise à jour
      de vos bilans et de nos préconisations accompagnée d’une synthèse de votre  enrichissement.
      </p>
      <p>
      Préalablement à la fourniture de nos conseils, nous vous remettrons :
      </p>
      <p>
      Un Document d’Identification et de Connaissance Client relatif à l’objet et la nature de notre relation
      Un Document d’Entrée en Relation (DER) avec des mentions obligatoires
      Une lettre de mission comportant les informations sur la nature et modalités de notre prestation, notre rémunération, la fourniture de nos conseils et des informations sur les frais et coûts des investissements conseillés
      Un recueil d’Information pour collecter vos connaissances  et expériences financières, votre tolérance au risque, aux pertes, vos objectifs et votre horizon de placement
      Un document de déclaration d’adéquation expliquant dans quelle mesure la recommandation est adaptée accompagnée des Documents d’Informations Clés des supports d’investissement.
      </p>
    </div>
  </div>
</div>

<div class="banner banner-beige CTA blue">
  <div class="container">
    <h1>Faire grandir et préserver son patrimoine.</h1>
  </div>
</div>
