<div class="banner-home white">
  <div class="container">
    <h1>Conseil en Gestion de Patrimoine</h1>
     <h1>et Investissements Financiers</h1>
    <a class="button-cover" href="#">EN SAVOIR PLUS</a>
  </div>
</div>

<%= render "conseil" %>

<%= render "expertises" %>

<%= render "vision" %>

<%= render "methodologie" %>

<%= render "contact" %>
