<!DOCTYPE html>

<a id="conseil">
  <%= render "conseil" %>
</a>

<a id="expertises">
  <%= render "expertises" %>
</a>

<div id="apropos">
  <%= render "apropos" %>
</div>

<div id="methodologie">
  <%= render "methodologie" %>
</div>

<div id="contact">
  <%= render "contact/contact" %>
</div>
