<div class="banner-home white">
  <div class="container">
    <h1 class="title">Conseil en Gestion de Patrimoine</h1>
    <h1>Conseil en Investissements Financiers</h1>
    <%= link_to("EN SAVOIR PLUS", root_path(anchor: 'conseil'), class: "button-cover") %>
  </div>
</div>

<a id="conseil">
  <%= render "conseil" %>
</a>

<div id="expertises">
  <%= render "expertises" %>
</div>

<div id="apropos">
  <%= render "apropos" %>
</div>

<div id="methodologie">
  <%= render "methodologie" %>
</div>

<div id="contact">
  <%= render "contact/contact" %>
</div>
