<div class="banner-home white">
  <div class="container">
    <h1 class="title">Conseil en<br>Gestion de Patrimoine</h1>
    <h1>&</h1>
    <h1>Investissements Financiers</h1>
    <a class="button-cover" href="#">EN SAVOIR PLUS</a>
  </div>
</div>

<%= render "conseil" %>

<%= render "expertises" %>

<div id="apropos">
  <%= render "apropos" %>
</div>

<div id="methodologie">
  <%= render "methodologie" %>
</div>

<%= render "contact" %>
