<!DOCTYPE html>
<html>
<head>
  <title>Nouveau message depuis le site Amaxan</title>
</head>
<body>
  <h1>Nouveau message depuis le site Amaxan</h1>
  <p>Nom: <%= @nom %></p>
  <p>Email: <%= @email %></p>
  <p>Téléphone: <%= @telephone %></p>
  <p>Expertises: <%= @expertises.join(', ') %></p>
  <p>Message:</p>
  <p><%= @message %></p>
</body>
</html>
