<html>
  <head>
    <title>Amaxan</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="_index.scss">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.google.com/specimen/Libre+Franklin" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!-- Inclure Bootstrap CSS (vous pouvez utiliser un CDN ou un fichier local) -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Inclure Bootstrap JavaScript (après jQuery) -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <%# <%= javascript_include_tag 'application' %>
    <%# <script src="/javascript/controllers/script_controller.js" type="module"></script> %>
    <style>
      div {
        margin-left: 96px;
        margin-right: 96px;
      }
    </style>
  </head>
    <body>
      <%= render "shared/navbar" %>
      <%= yield %>
       <%= render "shared/footer" %>
    </body>
</html>
